<a href="https://colab.research.google.com/github/nisher07/A-Paulo-Coelho-List/blob/main/booklist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
from bs4 import BeautifulSoup, SoupStrainer
import re
import pandas as pd

In [ ]:
page = 1

book_title = []
rating = []
rate_count = []
year = []
edition = []

while page != 9:
      url = f"https://www.goodreads.com/author/list/566.Paulo_Coelho?page={page}&per_page=30"
      #print(url)
      response = requests.get(url)
      page_content = response.text
      doc = BeautifulSoup(page_content, 'html.parser')

      #book name OK
      a_tags = doc.find_all('a', {'class': 'bookTitle'})
      for tag in a_tags:
        book_title.append(tag.get_text(strip=True))

      #rating OK
      rate = []
      for i in doc.find_all('span', {'class': 'minirating'}):
        unwanted = i.find('span', {'class': 'stars staticStars notranslate'})
        unwanted.extract()
        rate.append(i.text.strip())
      
      for i in rate:
        rating.append(i[:4])
      
      #rate count OK
      for i in rate:
        rate_count.append(i[18:-7].strip())

      #publish year OK
      tmp = doc.find_all('span', {'class': 'greyText smallText uitext'})

      tm =[]
      for t in tmp:
        #unwanted = t.find('span', {'class': 'stars staticStars notranslate'})
        #unwanted.extract()
        tm.append(t.text.strip())
      
      tm2 = []
      for i in tm:
        ttt = i.replace('\n','')
        tm2.append(ttt.strip())

      for i in tm2:
        if "published" in i:
          some = i[70:94].strip()
          x = re.findall("[0-9]+", some)
          year.append(x)
        else:
          year.append("Nan")
        
      #edition OK
      for t in doc.find_all('span', {'class': 'greyText smallText uitext'}):
        ed = t.find_all('a', {'class': 'greyText'})
        if ed != None:
          edition.append(ed)
        else:
          print("nan")

      
      page = page + 1

In [ ]:
book_dict = {
    'BookName': book_title,
    'Rating': rating,
    'RateCount': rate_count,
    'PublishYear': year,
    'Editions': edition
}

In [ ]:
book_df = pd.DataFrame(book_dict)
book_df[:5]

,BookName,Rating,RateCount,PublishYear,Editions
0,The Alchemist,3.90,"2,565,670",[1988],[[683 editions]]
1,Veronika Decides to Die,3.72,"199,401",[1998],[[324 editions]]
2,Eleven Minutes,3.70,"163,844",[2003],[[269 editions]]
3,By the River Piedra I Sat Down and Wept,3.57,"95,351",[1994],[[239 editions]]
4,The Witch of Portobello,3.55,"75,996",[2006],[[179 editions]]

In [ ]:
book_df['Author'] = 'Paulo Coelho'
book_df

,BookName,Rating,RateCount,PublishYear,Editions,Author
0,The Alchemist,3.90,"2,565,670",[1988],[[683 editions]],Paulo Coelho
1,Veronika Decides to Die,3.72,"199,401",[1998],[[324 editions]],Paulo Coelho
2,Eleven Minutes,3.70,"163,844",[2003],[[269 editions]],Paulo Coelho
3,By the River Piedra I Sat Down and Wept,3.57,"95,351",[1994],[[239 editions]],Paulo Coelho
4,The Witch of Portobello,3.55,"75,996",[2006],[[179 editions]],Paulo Coelho
...,...,...,...,...,...,...
210,Rock Your Life: Steh zu deinen Träumen und der...,5.00,2,Nan,[],Paulo Coelho
211,"Horizonte: Menschen, Länder, Kontinente",5.00,1,Nan,[],Paulo Coelho
212,The power of the heart,5.00,1,Nan,[],Paulo Coelho
213,Quotes on the Art of Life: Over two hundred Qu...,4.00,1,Nan,[],Paulo Coelho
214,The Gaze of the Gazelle: The story of a genera...,0.00,0,Nan,[],Paulo Coelho